.tituloprinc{
  padding-left: 20px;
}

.principal{
  background: #CCCCCC;
  padding: 30px;
}

.banner{
  width: 100%;
}

.textocent {
  text-align: center;
}

p {
  text-align: center;
}

#missao {
  font-size: 20px;
}

em b {
  color:#ff0000;
}

.benefits {
  width: 100%;
  display: inline;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.item{
  font-style: italic;
}

.img-beneficios{
  width: 50%;
}

.titulo-princ:first-letter{
  color: red;
}

p:first-line{
  font-style: italic;
}


.titulo-princ:before{
  content: "★";
}

.titulo-princ:after{
  content: "★";
}


.item:first-child{
  font-weight: bold;
}