.tituloprinc{
  padding-left: 20px;
}

.principal{
  background: #CCCCCC;
}

#banner{
  width: 100%;
}

.textocent {
  text-align: center;
}

p {
  text-align: center;
}

#missao {
  font-size: 20px;
}

b {
  color:#ff0000;
}

.item{
  font-style: italic;
}

#beneficios {
  width: 100%;
  display: block;
}