body{
  background-color:#cccccc
}

#banner{
  width: 100%;
}

h1 {
  text-align: center;
}
p {
  text-align: center;
}

#missao {
  font-size: 20px;
}

b {
  color:#ff0000;
}

.item{
  font-style: italic;
}

#beneficios {
  width: 100%;
}